*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
}
.header{
    background-color: black;
    width: 100%;
    color:aliceblue;
    display:flex;
    height:200px;
}
.logo{

     width:600px;
     height: 50px;
     margin-top: 20px;
     margin-left: 60px;
}
.logo img{
    width:140px;
    height:100%;
}
.nav-lists{
    margin-left: 30px;
    border: 0;
    display:flex;
    align-items:center;
    width: 462px;
    height: 29px;
       
}
.host-list{
    display:flex;
    align-items:center;
    padding :5px;
    width: 286px;
    height: 29px;
    margin-left:170px;
    float:left;
}
.palcestostay {    
    width:180px;
}
.palcestostay a{
    color:aliceblue;
    font-size:18px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-decoration:none;
} 
.palcestostay a:hover
{
    text-decoration:underline;
}
.exp {
    width:180px;
}
.start{
    padding-right: 5px ;
    text-align: center;
    width: 100% ;
    margin-right: 60px;
    margin-left: 60px;

}
.start1{
    padding-left: 134px;
    display:flex;
    align-items:center;
    margin-top: 20px;
} 
.exp a{
    color:aliceblue; 
    font-size:18px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-decoration:none;
}
.exp a:hover
{
    text-decoration:underline;
}
.onlineexp {
    width:180px;
}
.onlineexp a{
    color:aliceblue;
    font-size:18px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-decoration:none; 
}
.onlineexp a:hover
{
    text-decoration:underline;
}
.host{     
    width:140px;
}
.host a{
    color:aliceblue;
    font-size:14px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-decoration:none; 
}
.host a:hover
{
    text-decoration:underline;
}
.sign{    
    width:73px;
    background-color: #FFFFFF;
    border-radius: 20px ;
    height:35px;
    margin-left:40px;
}
.sign a:hover
{
    text-decoration:underline;
}
.sign img{
    width:20px;
    height:20px;
    margin: 6px;
}
.search-box{
    border: 1px solid #DDDDDD;
    border-radius: 32px;
    color: #222222;
    margin-top:30px;
    height: 64px;
    width: 855px;
    outline: none ;
    background-color: #F7F7F7;
}
.search-box2
{
    position:fixed;
    top:0px;
    left:0px;
    right:0px;
    background-color: white;
    z-index: 100;
    display:none;
    box-shadow:1px 1px 10px 1px ;
}
.inner-search{
    width:855px;
    border: 1px solid #DDDDDD;
    border-radius: 32px;
    margin:20px 260px 20px ;
    box-shadow:1px 1px 10px 1px grey;
}
#popup-3{
    background-color: #FFFFFF;
    width: 406px;
    padding-bottom: 16px;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 16px;
    margin-top: 12px;
    position: absolute;
    top:880px;
    left:800px;
    border-radius: 35px;
    z-index: 56;
    display: none;
    box-shadow: rgba(0, 0, 0, 0.04) 0px 0px 0px 1px, rgba(0, 0, 0, 0.15) 0px 8px 16px 0px;
}
#popup-1{
    background-color: #FFFFFF;
    width: 406px;
    padding-bottom: 16px;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 16px;
    margin-top: 12px;
    position: absolute;
    top:170px;
    left:700px;
    border-radius: 35px;
    z-index: 56;
    display: none;
    box-shadow: rgba(0, 0, 0, 0.04) 0px 0px 0px 1px, rgba(0, 0, 0, 0.15) 0px 8px 16px 0px;
}
#popup-1 label
{
    width:100px;
    display: inline-block;
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
    margin-bottom: 30px;
    margin-top: 14px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#popup-1 input{
    padding: 10px;
    border: none;
    width:80px;
    float: right;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#popup-1 input[type=number]{
    font-size: 16px;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#popup-3 label
{
    width:100px;
    display: inline-block;
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
    margin-bottom: 30px;
    margin-top: 14px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#popup-3 input{
    padding: 10px;
    border: none;
    width:80px;
    float: right;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#popup-3 input[type=number]{
    font-size: 16px;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.l{
    display:flex;
    position: relative;
    border-right-style:dotted;
    border-width: 1px;
    padding-right: 95px;
    margin:-1px;
    flex-direction: column;
}
.location{
    display: block;
    border: 1px solid transparent ;
    border-radius: 32px ;
    flex: 1 0 0% ;
    min-width: 0px ;
    padding-left: 20px ;
}
.in{
    display: block; 
    border: 1px solid transparent ;
    border-radius: 32px ;
    flex: 1 0 0% ;
    min-width: 0px ;
    padding-right:0px ;
}
.out{
    display: block;
    border: 1px solid transparent ;
    border-radius: 32px ;
    flex: 1 0 0% ;
    min-width: 0px ;
    padding-left: 20px ;
}
.guest{
    border: 1px solid transparent ;
    border-radius: 32px ;
    flex: 1 0 0% ;
    min-width: 0px ;
    padding-left: 20px ;
}
.place input{
    padding-left: 20px;
}
.l2{
    font-size: 12px;
    line-height: 16px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 800;
    letter-spacing: 0.04em;
    padding-bottom: 2px;
    padding-right: 137px;
    flex-direction: column;
}
.l1{
    font-size: 12px;
    line-height: 16px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 800;
    letter-spacing: 0.04em;
    padding-bottom: 2px; 
    width:100px;
    margin-left: 0px;
}
.box{
    width: 96.5% ;
}
.box label{
    height:100%;
    min-width: 0;
    display:flex;
    align-items:center;
    flex: 1 1 0%;
}
.l2 input{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    line-height:18px;
    color:rgb(186, 179, 179);
    font-weight:400;
    align-items:center;
    display: block;
    border:0;
    outline:none;
    background:transparent ;}

.l input{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-left:20px;
    text-align: left;
    font-size: 14px;
    line-height:18px;
    color:rgb(186, 179, 179);
    font-weight:400;
    align-items:center;
    display: block;
    border:0;
    outline:none;
    background:transparent ;
}
.bu button{
    background-color: rgb(255, 56, 92);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border:0;
    outline:none;
    cursor: pointer;
    margin-top: 6px;
    margin-left:20px;

}
.bu button img{
    width: 55px;
    height: 55px;
    border-radius: 50%;
}
.main_image{
    width:100%;
   background-color: black;
   padding-left: 60px;
   padding-right: 60px;
   height:400px;
  position: relative;
}  
.main_heading {
    width:100%;
    height:600px;
    
    display: none;
}
.main_heading h3{
   font-size: 40px;
   font-weight: 600;
   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   letter-spacing: -0.01em;
   line-height: 23px;
   color: #FFFFFF;
   padding-top: 450px;
   padding-left: 290px;
   position: absolute;
   top:0px;
}
.main_heading img{
    border-radius: 20px;
}
.main_heading button{
   border-radius: 25px;
   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   height:50px;
   position: absolute;
   top:480px;
   z-index: 6;
   right:570px;
 }
.card{
    height:380px;
    width: 280px;
    display: inline-block;
    margin-left: 18px;
    margin-top: 20px;
    border-radius: 20px;
}
.container{
    width: 100%;
    height: 500px;
    padding-left: 60px;
    padding-right: 60px;
    align-items: center;
    margin-top: 300px;
}
h2{
    font-size:32px; 
    font-weight:600; 
    letter-spacing:-0.02em; 
    line-height:28px;
    margin-left: 20px;
    margin-bottom: 30px;
    margin-top: 30px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.feature{
   margin-top: 20px;
   margin-left: 20px;
}
.feature h3{
   font-size: 30px;
   font-weight: 600;
   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   letter-spacing: -0.01em;
   line-height: 23px;
   color: #FFFFFF;
}
.feature p{
   font-size: 15px;
   font-weight: 400;
   line-height: 20px;
   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   color: #FFFFFF;
   margin-top: 12px;
}
.imag img{
    width: 100%;
    height: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.experiances{
    width: 100%;
    height: 100%;
    padding-left: 60px;
    padding-right: 60px;
    align-items: center;
    margin-top: 20px;

}
.cards{
    height:450px;
    width: 580px;
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    margin-left: 18px;
    margin-top: 20px;
    border-radius: 20px;
}

.feature1 h3{
   font-size: 40px;
   font-weight: 600;
   color: #FFFFFF;
   margin-top: 26px;
   margin-left: 30px;
   width:300px;
}
.btn{
    width: 200px;
    margin-left: 30px;
    margin-top: 26px;
    padding :10px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
    font-size :16px;
    border-radius: 8px;
    border: none;
    background-color: #FFFFFF;
}
.hosting{
    width:100%;
    background-image: url(./images/hosting.webp);
    height: 550px;
    background-size: cover;
}
.hosting h2{
    font-size: 60px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #FFFFFF;
    padding: 50px;
    margin-top: 80px;
    width:400px;
    height: 300px;
    line-height: 1.2;
}
.footer
{
    width:100%;
    height:500px;
    margin-top: 20px;
    padding-left: 50px;
    margin-right: 50px;
    background-color: rgb(245, 240, 240);
}
.o_list{
    display: inline-block;
    list-style: none;
    padding: 10px;
    margin-top: 20px;
}
.o_list li{
    margin: 25px;
    color: black;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
}
.o_list li a:link{
    text-decoration: none;
    color: black;
    font-weight: 300;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
}
.end{
    width:1200px;
    align-self: center;
    margin-left: 35px;
    padding-top: 35px;
    border-top: 1px solid rgb(207, 205, 205);
    display: inline-block;
}
.btn1{
    width: 200px;
    margin-left: 70px;
    margin-top:90px;
    padding :10px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
    font-size :16px;
    border-radius: 8px;
    border: none;
    background-color: #FFFFFF;
}
.fa-solid 
{
    font-size: 20px;
    width: 20px;
    color:#FFFFFF;
    text-decoration: none;
}
.fa {
    padding: 20px;
    font-size: 20px;
    width: 40px;
    color:black;
    text-decoration: none;
}

.end p{
    width:500px;
}
.end a{
  float: right;
}
  
/*list of Homes styling */
.listofhomes{
    width: 100%;
    height:600px;
  
}
.home{
    display: flex;
    margin: 20px;
    padding-top: 20px;
    padding-bottom: 1px;
    border-top: 1px solid rgb(226, 226, 226);
    width:900px;
}
.listofhomes p{
    margin: 20px 30px ;
}

.details{
    width:500px;
    left:24em;
    top:5em;
    margin-left: 30px;
    padding: 5px;
}
.subtitle{
    font-size: 15px;
    color: grey;
    margin-bottom: 8px;
}
.title{
    font-size: 21px;
    font-weight: 600;
    padding-bottom: 10px;
   
}
.line{
    width:30px;
    height:1px;
    background-color:rgb(160, 159, 159);
    border: none;
}
.facilities li{
    display:inline;
    list-style: none;
    padding: 2px;
    color: gray;
   
}
.facilities{
    margin-top: 15px;
    width:300px;
    font-size: 15px;
    font-weight: 500;
}
.price{
    float:right;
    margin-top:40px;
    font-size: 20px;
    font-weight: bold;
}
.review {
    color: black;
    font-size: 14px;
}
.total
{
    margin-left: 290px;
    text-decoration: underline;
    color: rgb(113,113,113);
}
.last{
    width: 100%;
    display: flex;
}


/*second header */
.header2{
    width:100%;
    height:80px;
    display: flex;
}
.logo2{
    margin-top: 30px;
    margin-left: 28px;
    height: 40px;
}
.logo2 img{
    width:130px;
    height:100%;
}
.search_bar{
    width:390px;
    background-color: #FFFFFF;
    height:50px;
    margin-top: 20px;
    display: flex;
    border-radius: 25px;
    margin-left: 320px;
    box-shadow: 2px 2px 5px grey;
}
.stay{
    width:120px;
    padding-left: 11px;
    padding-top:5px ;
    margin-left: 14px;
    height: 35px;
    margin-top: 8px;
    margin-right: 6px;
    border-right: 1px dotted black;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
}
.span{
    width:100px;
    padding-left: 11px;
    padding-top:5px ;
    height: 35px;
    margin-top: 8px;
    margin-right: 6px;
    border-right: 1px dotted black;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
}
.add_guests{
    width:100px;
    height: 35px;
    margin-top: 8px;
    margin-right: 6px;
    padding-left: 11px;
    padding-top:5px ;
    color: grey;
    font-weight: 200;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.search_bar button{
 
    margin-right: 8px;
    height:40px;
    width:40px;
}
.host2{
    margin-left: 220px;
    display: flex;
     width:280px;
     justify-content: space-between;
     margin-top: 30px;
     margin-right: 20px;
}
.sign{
    box-shadow: 2px 2px 5px grey;

}
.host2 a{
    height: 20px;
    margin-top: 10px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;

}
.filter{

    box-shadow: 0px 10px 10px -13px grey;
    padding-bottom: 18px;
}
#price_list{
    width:100px;
    margin-left: 38px;
    height: 40px;
    padding-left: 30px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    font-size: 14px;
    border-radius: 19px;
    border-color: rgb(201, 201, 201);
}
#type_of_place{
    width:120px;
    margin-left: 10px;
    padding-left: 10px;
    height: 40px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    font-size: 14px;
    border-radius: 19px;
    border-color: rgb(201, 201, 201);
}


/* -------------Hotel detail ------------------*/
.stay1{
    width:200px;
    padding-left: 11px;
    padding-top:5px ;
    margin-left: 14px;
    height: 35px;
    margin-top: 8px;
    margin-right: 6px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
}
.stay1 input[type="text"]
{
    border:none;
    padding: 5px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    color: black;
    outline:none;
}
.link_list
{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
    margin-left: 100px;
    display: flex;
    font-size: 14px;
    line-height: 20px;
    margin-top: 10px;
}
.link_list a:link{
    color: black;
}
.link_list li{
    margin-left: 32px;
}
.hotel_images{
    margin-left: 110px;
    margin-right: 110px;
    margin-top: 20px;
    display: grid;
    grid-gap:10px;
    grid-template-areas: 'first first . .' 'first first . .';
}
.hotel_images div img{
    width:100%;
    display: block;
    border-radius: 10px;
}
.img1{
    grid-area: first;
}
.cont{
    display: flex;
    margin-left: 110px;
    margin-right: 110px;
}

.left{
    position: relative;
    width:600px;
    height: 900px;
}

.owner{
    position: absolute;
    top:30px;
    width:60px;
    margin-top: 0px;
    right:0px;
}
.line{
    border:0;
    height:1px;
    background: #ccc;
    width:100%;
}
.details_list
{
    list-style: none;
    margin: 50px 0;
}
.details_list li{
    margin-left: 50px;
    font-size: 20px;
    position: relative;
    font-weight: 500;
    margin-bottom: 20px;
    color:rgb(34,34,34);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.details_list li span{
    display: block;
    font-weight: 400;
    font-size: 16px;
    color:#555;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.details_list li i{
    position: absolute;
    top:15px;
    left:-40px;
    color: #555;
}
.hotel_desc{
    max-width: 700px;
    margin-bottom: 50px;
    margin-top: 50px;
    font-size: 17px;
    font-weight: 400;
    line-height: 24px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.map{
    margin-top: 20px;
    width:1160px;
    height:600px;
}
.map h3{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    margin-bottom: 10px;
}
.map p{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 17px;
    margin-bottom: 20px;
}
table ,th, td{
    border: none;
    margin-top: 70px;
    font-size: 16px;
    line-height: 20px;
    padding: 5px;
    width:1160px;
    border-collapse: collapse;
    text-align: left;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.Extra i{
    color:black;
    margin-right: 10px;
}
.right{

    width:372.328px;
    height:440px;
    margin-top: 100px;
    margin-left: 100px;
    border-radius: 12px;
    border: 1px solid rgb(221, 221, 221);
    box-shadow: grey 0px 6px 5px;
}
.box1{
    width:322.328px;
    margin: 25px;
    display: flex;
    justify-content: space-between;
    
}
.pr{
    font-weight: 600;
    font-size: 22px;
    line-height: 26px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.re{
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.dates{
    display: flex;
    width:322.328px;
    margin: 25px;
    height: 60px;
    position: relative;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border: 1px solid grey;
    font-weight: 700;
}
.dl{
    margin-left: 10px;
    margin-top: 8px;
}
.dr{
    padding-left: 10px;
    margin-top: 8px;
    border-left: 1px solid grey;
}
label{
    font-size: 11px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
input[type=date]{
    font-size: 14px;
    border: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.dr1
{
    position: absolute;
    margin-top: 58px;
    height: inherit;
    width: inherit;
}
.dr1 label{
    position: absolute;
    top:20px;
    left:10px;
    font-weight: 700;
}
.dr1 select{
    height: 100%;
    width:100%;
    border-left: 1px solid grey;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.dates button{
    position: absolute;
    top:140px;
    width: inherit;
    height: 50px;
    background-color: rgb(255, 56, 92);
    border: none;
    border-radius: 12px;
    color: #FFFFFF;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
}

.fee {
    width:322.328px;
    margin-top:160px;
    margin-left: 20px;
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
}




/*Inc Dec*/
.incb{
    margin-left: 110px;
    width:30px;
    height:30px;
    border-radius: 50%;
    background-color: white;
    border-color: grey;
    font-size: 20px;
    color: gray;
    margin-right: 20px;
}
.decb{
    width:30px;
    height:30px;
    border-radius: 50%;
    background-color: white;
    border-color: grey;
    font-size: 20px;
    color: gray;
    margin-left:20px;
}
.incb:hover,.decb:hover
{
    color: black;
    border-color: black;
}
.place input[type=text]
{
    color: black;
    font-size: medium;
    font-weight: 500;
}







.loginpopup .overlay
{
    position: fixed;
    top:0px;
    left:0px;
    width:100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1;
    display: none;
}
.loginpopup .login
{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%) scale(0);
    z-index: 2;
}
.loginpopup .close-btn
{
    cursor: pointer;
    position: absolute;
    right: 480px;
    top:41px;
    width:30px;
    height: 30px;
    background: #222;
    color: #fff;
    z-index: 5;
    font-size: 25px;
    font-weight: 600;
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
}
.loginpopup.active .overlay{
    display: block;
}
.loginpopup.active .login{
    transition:all 300ms ease-in-out;
    transform: translate(-50%,-50%) scale(1);
}




.login1{

    height:88%;
       width:100%;
       background-size: cover;
       background-image: linear-gradient(rgba(0,0,0,0,0),rgba(0,0,0,0,0));
       background-position:center;
       position:absolute;
   
   }
   #w{
       text-align: center;
   }
   .boxc1{
   
       width:35%;
   height:550px;
       position:relative;
       margin:6% auto;
       background:white;
       padding:5px;
       overflow: hidden;
       border:none;
       border-radius: 14px;
      
      
       margin-top:30px;
   }
   .boxc2{
       width:75%;
       height:auto;
       margin-left:23%;
       position:relative;
    
   
   }
   
   .social1{
       margin:16px auto;
       text-align:center;
       margin-bottom: 2%;
   }
   .social1 img{
       width:32px;
       margin:0 13px;
       cursor:pointer;
       border-radius:50%;
      
   }
   
   
   
   
   .option1{
       width:236px;
       margin:21px auto;
       position:relative;
         box-shadow: 0 0 1px 1px #f51027;
       border-radius: 30px;
       height:auto;
       
   }
   .toggle1{
       padding:10px 30px;
       cursor:pointer;
       background:transparent;
       border:0;
       outline:none;
       position:relative;
       font-size:17px;
   }
   #btn2{
       top:0;
       left:0;
       position:absolute;
       width:110px;
       height:100%;
       background:linear-gradient(to right,#f51027,#e94354);
       border-radius: 30px;
       transition:.10s;
   }
   .input-infoc1{
       position:absolute;
    
      width:70%;
       transition: .10s;
   }
   
   .input-fieldc1{
     font-size: 15px;
       width:100%;
      background-color: #e94354;
       padding :7px 0px;
       font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   
      border-top:none;
     border-bottom: 1px solid black;
      border-left: none;
      border-right: none;
       outline:none;
       background: transparent;
   }
   #errorc1{
       color:red;
       font-size:12px;
       text-align:center;
   }
   #selectedc1{
       width:40%;   
       font-size: 15px; 
       font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   
       background: transparent;
       text-align:center;
      
     
   }
   .table1 {
       width:100%;
   }
.tr1{
    width:450px;
}

   span{
       color: #f51027;
       font-size: 14px;
       bottom:68px;
      
   }
   
   #le1{
       text-align: center;
   }
   #f1{
       border-bottom: none;
       border-left: none;
       border-right: none;
   }
   .check-boxc1{
       margin:30px 10px 30px 0;
   }
   
   .submitbtnc1{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   
       width:100%;
       padding:13px 30px;
       cursor: pointer;
       display:block;    
       margin: 15px auto;
       margin-bottom: 5%;
       background:#f51027;
       border:0;
    outline:none;
    border-radius: 10px;
   }
   #botton1{
       margin:30px 0;
   }
   #login1{  top:150px;
      
       left:680px;
   }
   #register{
      
    top:150px;
       left:80px;
   }
   
#s{
    width: 300px;
    height: auto;
    border-radius: 20px;
    position: absolute;
    background-color: white;
    left:250px;
    top: 160px;
    z-index: 300;
    padding-bottom: 20px;
    display: none;
}
#txtHint{
    width:inherit;
    color: black;
    font-size: large;
    position: relative;
    top:10px;
    left:10px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
}
.butt1{
    border: none;
    border-radius: 16px;

}
.image img{
    width:26em;
    left: 1em;
    top:5em;
    height: 18em;
    border-radius: 16px;
}




.ty{
  background-repeat: no-repeat;
  background-size: cover;
}

.thank
{
    width:500px;
    height:350px;
    background-color: white;
    position: absolute;
    top:200px;
    left: 100px;
    padding:40px;
}
.thank h2{
    position: relative;
    text-align: center;
    top:80px;
    color:#f51027;
    font-size: 70px;
}
.thank p{
    position: relative;
    text-align: center;
    top:100px;
    text-align: center;
}

